{% extends 'base.html' %}


{% block title %}
    Recipe
{% endblock %}
{% block header %}
    <h1> Recipe List  <a href="{% url 'recipe:create ' %}" class="btn btn-primary">+Adding New Recipe</a>  </h1>

{% endblock %}

{% block content %}
<div class="row mt-3">
    {% if object_list %}
        {% for object in object_list %}
            <div class="col-md-4">
                <div class="card mb-3">
                    <img src="{{ object.image.url }}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.title }}</h5>
                        <h6 class="card-title">Author: {{ object.author }}</h6>
                        <p class="card-text">{{ object.description }}.</p>
                        <p class="card-text"><small class="text-body-secondary">{{ object.created_date }}o</small>
                        </p>

                        <p>
                            {% for tag in object.tags.all %}

                                <a href="{{ tag.title }}">#{{ object.tags }}</a>
                            {% endfor %}
                        </p>

                        <a href="{% url 'recipe:detail ' object.slug %}" class="btn btn-primary">See more</a>

                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
    <h1 class="text-center">Hech narsa topilmadi</h1>
    {% endif %}
</div>
{% endblock %}