{#{% for  message in messages %}#}
{#    {% if message.tag == 'success' %}#}
{##}
{#    <div class="alert alert-success" role="alert">#}
{#        {{ message }}#}
{#    </div>#}
{#    {% elif message .tag == 'error' %}#}
{#    <div class="alert alert-danger" role="alert">#}
{#        {{ message }}#}
{#    </div>#}
{#    {% elif message.tag == 'warning' %}#}
{#    <div class="alert alert-warning" role="alert">#}
{#        {{ message }}#}
{#    </div>#}
{#{% elif message.tag == 'info' %}#}
{#    <div class="alert alert-info" role="alert">#}
{#        {{ message }}#}
{#    </div>#}
{#{% else %}#}
{#    <div class="alert alert-dark" role="alert">#}
{#        {{ message }}#}
{#    </div>#}
{#{% endif %}#}
{#{% endfor %}#}